<?xml version="1.0"?>
<launch>
    <include file="$(find assignment_2_2022)/launch/assignment1.launch" />
    
    <!-- Setting frequency for node_c(robot_info) -->
    <param name="freq" type="double" value="1.0" />
    
    <!-- Launch three nodes -->
    <node pkg="assignment_2_2022" type="node_a.cpp" name="interface" output="screen" launch-prefix="xterm -e" />
    <node pkg="assignment_2_2022" type="node_b.cpp" name="goal_info" output="screen" />
    <node pkg="assignment_2_2022" type="node_c.cpp" name="robot_info" output="screen" launch-prefix="xterm -e" />
    

</launch>
